{% extends 'base.html' %}

{%  block content %}

<div class="invitation">
{#    {%  if invitation.created_dt %}#}
        <p>{{ invitation }}</p>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'invitation_update' pk=invitation.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-default" href="{% url 'invitation_delete' pk=invitation.pk %}">
                    <span class="glyphicon glyphicon-remove"></span>
            </a>
        {% endif %}
{#    {% endif %}#}
</div>
<h5><a href="{%  url 'index' %}" class="one">Back to index</a></h5>
{% endblock %}