{% extends 'base.html' %}

{%  block content %}

<div class="person">
    {%  if person.created_dt %}
        <p>{{ person.name }}</p>
        <p>{{ person.birth_dt }}</p>
        <p>{{ person.email }}</p>
        <p>{{ person.created_by }}</p>
        <p>{{ person.created_dt }}</p>
        {% if user.is_authenticated %}
            <a class="btn btn-default" href="{% url 'person_update' pk=person.pk %}">
                    <span class="glyphicon glyphicon-pencil"></span>
            </a>
            <a class="btn btn-default" href="{% url 'person_delete' pk=person.pk %}">
                    <span class="glyphicon glyphicon-remove"></span>
            </a>
        {% endif %}
    {% endif %}
</div>
<h5><a href="{%  url 'person_list' %}" class="one">Back to list</a></h5>
{% endblock %}